# DATABASE CONFIGURATION
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=123456789
DB_NAME=sporthubai_dev

# TEST DATABASE CONFIGURATION
DB_TEST_NAME=sporthubai_test

# APPLICATION CONFIGURATION
NODE_ENV=development
PORT=3000

# GMAIL SMTP CONFIGURATION
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
FROM_EMAIL="SportHubAI <your-email@gmail.com>"
